<div class="container">
    <div class="row">
        <div class="col mt-4">
            <h1>Aplicación ACME</h1>
            <p>Aplicación encargada de gestionar los datos de la empresa ACME.</p>
            <ul>
                <li>
                    <a href="https://github.com/musksah/acme-web" target="_blank">GitHub del Front-End</a>
                </li>
                <li>
                    <a href="https://github.com/musksah/acme-services" target="_blank">GitHub del Back-End</a>
                </li>
            </ul>
        </div>
    </div>
</div>
